<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- console appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%thread] [%logger] [%line] -- %msg%n</pattern>
        </encoder>
    </appender>

    <!-- rolling file appender: log per day, and if a log file exceed maxFileSize, it will be split. -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.log.home}/${project.artifactId}.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%thread] [%logger] [%line] -- %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${app.log.home}/${project.artifactId}.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxFileSize>128MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="file-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <file>${app.log.home}/${project.artifactId}.error.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%thread] [%logger] [%line] -- %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${app.log.home}/${project.artifactId}.error.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxFileSize>128MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- customized logger list -->
	<logger name="com.github.bdp.master"  level="${app.log.level}" />

    <!-- root logger -->
    <root level="info">
        <!--<appender-ref ref="console"/>-->
        <appender-ref ref="file"/>
        <appender-ref ref="file-error"/>
    </root>

</configuration>